.App {
  background-color: #FFFCF2;
}

.App-header {
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  color: #403D39;
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-areas: "left-gap main right-gap";
  justify-content: center;
  align-content: center;
}

.App-footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #403D39;
}

.App-link {
  color: #EB5E28;
}

.App-button {
  border: none;
  background-color: transparent;
  font-size: 1.25em;
  outline: none;
  cursor: pointer;
}

.App-button__default {
  color: inherit;
}
.App-button__secondary {
  color: #CCC5B9;
}

.App-locations-container {
  grid-area: main;
  height: 100%;
}
.App-location {
  text-align: left;
  line-height: 1.625em;
  min-width: 400px;
}
.App-location .App-location--close {
  visibility: hidden;
}
.App-location:hover .App-location--close {
  visibility: visible;
}

.App-location-input {
  width: 100%;
  text-align: left;
}

.App-time {
  font-size: 2em;
  font-weight: 900;
}

.App-author {
  font-size: .75em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App-header {
    font-size: calc(6vmin);
    padding: 0 10vw;
  }

  .App-location {
    text-align: left;
    min-width: 80vw;
  }

  .App-footer {
    font-size: calc(8vmin);
  }
}
